.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Button{
    background-color: #228c1d;
    color: #ccc;
    padding:10px 30px;
    float: right;
    margin: 0 40px 20px 0;
    border-radius: 7px;

}
.Button:hover{
    background-color: #ccc;
    color: #000;
}


@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}