.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left:0;
    top:0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}
@media (min-width: 500px) {
    .SideDrawer{
        display: none;
    }
}

.Open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.Close{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}