.NavItem {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items:center;
}
 .NavItem a{
     color: white;
     text-decoration: none;
     padding: 16px 10px;
     height: 100%;
     border-bottom: 4px solid transparent;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     display: block;
 }

 .NavItem a:hover,
 .NavItem a:active,
            a.active {
     background-color: #8f5c2c;
     border-bottom:4px solid #40A4C8;
     color: white;
 }

 @media (max-width: 500px) {
     .NavItem {
         margin: 10px 0;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         display: block;
         width: 100%;

     }
     .NavItem a{
         color: #8f5c2c;
         text-decoration: none;
         padding:0;
         width: 100%;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         display: block;
     }

     .NavItem a:hover,
     .NavItem a:active,
     a.active {
         color: #40A4C8;
         background-color: white;
         border-bottom:none;
     }
 }