.BuldCelement{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 5px 0;

}
.BuldCelement button{
    display: block;
    font:inherit;
    padding:5px;
    margin:0 5px;
    width: 80px;
    border:1px solid #aa6817;
    cursor: pointer;
    outline:none;
}

.BuldCelement button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuldCelement button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuldCelement .Less {
    background-color: #D39952;
    color: white;
}

.BuldCelement .More {
    background-color: #8F5E1E;
    color: white;
}

.BuldCelement .Less:hover, .BuldCelement .Less:active {
    background-color: #DAA972;
    color: white;
}

.BuldCelement .More:hover,.BuldCelement .More:active {
    background-color: #99703F;
    color: white;
}